th {
	min-width: 120px;
}
td {
	text-align: center;
}

tr td:first-child {
	font-weight: 700;
}
/*
table {
	border-top: 2px solid blue;
	border-radius: 5%;
	padding-top: 10px;
}

thead {
	background: #333333
}*/